<% unless current_user %>
  <p>
    Welcome to RubyPair, connecting people for pair programing ruby.
  </p>
  <p>
    Please login with your GitHub account, we will pull your location from there. A profile will be created here to store your preferred days/times, and a blurb about what kind of things you like doing.
  </p>
<% end %>

<div id="newest_users">
  <h2>Newest users</h2>
  <%= render @newest_users %>
</div>
